<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seal.ljk.dao.SysBannerDao">

    <select id="get" resultType="SysBanner">
        select b.title,b.id,b.img_path,b.link_url,b.type,b.status,b.create_user,b.create_date,b.update_user,b.update_date
        from sys_banner b
        where b.id =#{id}
    </select>

    <select id="getAll" resultType="SysBanner">
        select b.title,b.id,b.img_path,b.link_url,b.type,b.status,b.create_user,b.create_date,b.update_user,b.update_date
        from sys_banner b
        <where>
            <if test="title != null  and title != '' ">
                and b.title= #{title}
            </if>
            <if test="id != null  and id != '' ">
                and b.id= #{id}
            </if>
            <if test="imgPath != null  and imgPath != '' ">
                and b.img_path= #{imgPath}
            </if>
            <if test="linkUrl != null  and linkUrl != '' ">
                and b.link_url= #{linkUrl}
            </if>
            <if test="type != null  and type != '' ">
                and b.type= #{type}
            </if>
            <if test="status != null  and status != '' ">
                and b.status= #{status}
            </if>
        </where>
        <if test="orderByInfo != null and orderByInfo.length > 0">
            <foreach collection="orderByInfo" item="order" open="order by "
                     separator="," close="  ">
                ${order}
            </foreach>
        </if>
    </select>

    <select id="getAllByPage" resultType="SysBanner">
        select b.title,b.id,b.img_path,b.link_url,b.type,b.status,b.create_user,b.create_date,b.update_user,b.update_date
        from sys_banner b
        <where>
          <if test="title != null  and title != '' ">
              and b.title= #{title}
          </if>
          <if test="id != null  and id != '' ">
              and b.id= #{id}
          </if>
          <if test="imgPath != null  and imgPath != '' ">
              and b.img_path= #{imgPath}
          </if>
          <if test="linkUrl != null  and linkUrl != '' ">
              and b.link_url= #{linkUrl}
          </if>
          <if test="type != null  and type != '' ">
              and b.type= #{type}
          </if>
          <if test="status != null  and status != '' ">
              and b.status= #{status}
          </if>
        </where>
        <if test="orderByInfo != null and orderByInfo.length > 0">
            <foreach collection="orderByInfo" item="order" open="order by "
                     separator="," close="  ">
                ${order}
            </foreach>
        </if>
    </select>

    <insert id="insert" parameterType="SysBanner">
        INSERT INTO sys_banner (title,id,img_path,link_url,type,status,create_user,create_date,update_user,update_date)
        VALUES (#{title},#{id},#{imgPath},#{linkUrl},nullif(#{type},'0'),#{status},#{createUser},NOW(),#{createUser},NOW());
    </insert>

    <update id="update" parameterType="SysBanner">
        update sys_banner
        <set>
            <if test="title != null  and title != '' ">
                title= #{title},
            </if>
            <if test="id != null  and id != '' ">
                id= #{id},
            </if>
            <if test="imgPath != null  and imgPath != '' ">
                img_path= #{imgPath},
            </if>
            <if test="linkUrl != null  and linkUrl != '' ">
                link_url= #{linkUrl},
            </if>
            <if test="type != null  and type != '' ">
                type= #{type},
            </if>
            <if test="status != null  and status != '' ">
                status= #{status},
            </if>
            <if test="updateUser != null and updateUser != ''">
                update_user=#{updateUser},
            </if>
            update_date=NOW()
        </set>
        where id=#{id}
    </update>

    <delete id="delete" parameterType="java.lang.String">
        delete from sys_banner where id=#{id}
    </delete>

</mapper>
