<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seal.ljk.dao.TzAgencyHoldDao">

    <select id="get" resultType="TzAgencyHold">
        select b.id,b.item_id,b.mobile,b.token_number,b.price,b.account,b.area_code,b.type,b.current_holdings,b.remark,b.create_date,b.create_user,b.update_date,b.update_user
        from tz_agency_hold b
        where b.id =#{id}
    </select>

    <select id="getAll" resultType="TzAgencyHold">
        select b.id,b.item_id,b.mobile,b.token_number,b.price,b.account,b.area_code,b.type,b.current_holdings,b.remark,b.create_date,b.create_user,b.update_date,b.update_user
        from tz_agency_hold b
        <where>
            <if test="id != null  and id != '' ">
                and b.id= #{id}
            </if>
            <if test="itemId != null  and itemId != '' ">
                and b.item_id= #{itemId}
            </if>
            <if test="mobile != null  and mobile != '' ">
                and b.mobile= #{mobile}
            </if>
            <if test="tokenNumber != null  and tokenNumber != '' ">
                and b.token_number= #{tokenNumber}
            </if>
            <if test="price != null  and price != '' ">
                and b.price= #{price}
            </if>
            <if test="account != null  and account != '' ">
                and b.account= #{account}
            </if>
            <if test="areaCode != null  and areaCode != '' ">
                and b.area_code= #{areaCode}
            </if>
            <if test="type != null  and type != '' ">
                and b.type= #{type}
            </if>
            <if test="currentHoldings != null  and currentHoldings != '' ">
                and b.current_holdings= #{currentHoldings}
            </if>
            <if test="remark != null  and remark != '' ">
                and b.remark= #{remark}
            </if>
        </where>
        <if test="orderByInfo != null and orderByInfo.length > 0">
            <foreach collection="orderByInfo" item="order" open="order by "
                     separator="," close="  ">
                ${order}
            </foreach>
        </if>
    </select>

    <select id="getAllByPage" resultType="TzAgencyHold">
        select b.id,b.item_id,b.mobile,b.token_number,b.price,b.account,b.area_code,b.type,b.current_holdings,b.remark,b.create_date,b.create_user,b.update_date,b.update_user
        from tz_agency_hold b
        <where>
          <if test="id != null  and id != '' ">
              and b.id= #{id}
          </if>
          <if test="itemId != null  and itemId != '' ">
              and b.item_id= #{itemId}
          </if>
          <if test="mobile != null  and mobile != '' ">
              and b.mobile= #{mobile}
          </if>
          <if test="tokenNumber != null  and tokenNumber != '' ">
              and b.token_number= #{tokenNumber}
          </if>
          <if test="price != null  and price != '' ">
              and b.price= #{price}
          </if>
          <if test="account != null  and account != '' ">
              and b.account= #{account}
          </if>
          <if test="areaCode != null  and areaCode != '' ">
              and b.area_code= #{areaCode}
          </if>
          <if test="type != null  and type != '' ">
              and b.type= #{type}
          </if>
          <if test="currentHoldings != null  and currentHoldings != '' ">
              and b.current_holdings= #{currentHoldings}
          </if>
          <if test="remark != null  and remark != '' ">
              and b.remark= #{remark}
          </if>
        </where>
        <if test="orderByInfo != null and orderByInfo.length > 0">
            <foreach collection="orderByInfo" item="order" open="order by "
                     separator="," close="  ">
                ${order}
            </foreach>
        </if>
    </select>

    <insert id="insert" parameterType="TzAgencyHold">
        INSERT INTO tz_agency_hold (id,item_id,mobile,token_number,price,account,area_code,type,current_holdings,remark,create_date,create_user,update_date,update_user)
        VALUES (#{id},#{itemId},#{mobile},#{tokenNumber},#{price},#{account},#{areaCode},#{type},#{currentHoldings},#{remark},NOW(),#{createUser},NOW(),#{createUser});
    </insert>

    <update id="update" parameterType="TzAgencyHold">
        update tz_agency_hold
        <set>
            <if test="id != null  and id != '' ">
                id= #{id},
            </if>
            <if test="itemId != null  and itemId != '' ">
                item_id= #{itemId},
            </if>
            <if test="mobile != null  and mobile != '' ">
                mobile= #{mobile},
            </if>
            <if test="tokenNumber != null  and tokenNumber != '' ">
                token_number= #{tokenNumber},
            </if>
            <if test="price != null  and price != '' ">
                price= #{price},
            </if>
            <if test="account != null  and account != '' ">
                account= #{account},
            </if>
            <if test="areaCode != null  and areaCode != '' ">
                area_code= #{areaCode},
            </if>
            <if test="type != null  and type != '' ">
                type= #{type},
            </if>
            <if test="currentHoldings != null  and currentHoldings != '' ">
                current_holdings= #{currentHoldings},
            </if>
            <if test="remark != null  and remark != '' ">
                remark= #{remark},
            </if>
            <if test="updateUser != null and updateUser != ''">
                update_user=#{updateUser},
            </if>
            update_date=NOW()
        </set>
        where id=#{id}
    </update>

    <delete id="delete" parameterType="java.lang.String">
        delete from tz_agency_hold where id=#{id}
    </delete>

</mapper>
