<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seal.ljk.dao.TzInvestItemDao">

    <select id="get" resultType="TzInvestItem">
        select b.id,b.token_name,b.token_short_name,b.img_path,b.expected_venue,b.issue_time,b.total_house_number,b.rent_out_number,b.sell_number,b.using_flag,b.account,b.issue_company,b.token_identity,b.tx_rule,b.asset_details,b.company_info,b.issue_company_en,b.token_identity_en,b.tx_rule_en,b.asset_details_en,b.company_info_en,b.asset_short,b.asset_short_en,b.token_no,b.income_statement,b.income_statement_en,b.exchange_rate,b.create_date,b.create_user,b.update_date,b.update_user
        from tz_invest_item b
        where b.id =#{id}
    </select>

    <select id="getAll" resultType="TzInvestItem">
        select b.id,b.token_name,b.token_short_name,b.img_path,b.expected_venue,b.issue_time,b.total_house_number,b.rent_out_number,b.sell_number,b.using_flag,b.account,b.issue_company,b.token_identity,b.tx_rule,b.asset_details,b.company_info,b.issue_company_en,b.token_identity_en,b.tx_rule_en,b.asset_details_en,b.company_info_en,b.asset_short,b.asset_short_en,b.token_no,b.income_statement,b.income_statement_en,b.exchange_rate,b.create_date,b.create_user,b.update_date,b.update_user
        from tz_invest_item b
        <where>
            <if test="id != null  and id != '' ">
                and b.id= #{id}
            </if>
            <if test="tokenName != null  and tokenName != '' ">
                and b.token_name= #{tokenName}
            </if>
            <if test="tokenShortName != null  and tokenShortName != '' ">
                and b.token_short_name= #{tokenShortName}
            </if>
            <if test="imgPath != null  and imgPath != '' ">
                and b.img_path= #{imgPath}
            </if>
            <if test="expectedVenue != null  and expectedVenue != '' ">
                and b.expected_venue= #{expectedVenue}
            </if>
            <if test="issueTime != null  and issueTime != '' ">
                and b.issue_time= #{issueTime}
            </if>
            <if test="issueTimeBegin != null ">
                <![CDATA[and b.issue_time  >= #{issueTimeBegin}]]>
            </if>
            <if test="issueTimeEnd != null  ">
                <![CDATA[and b.issue_time  <= #{issueTimeEnd}]]>
            </if>
            <if test="totalHouseNumber != null  and totalHouseNumber != '' ">
                and b.total_house_number= #{totalHouseNumber}
            </if>
            <if test="rentOutNumber != null  and rentOutNumber != '' ">
                and b.rent_out_number= #{rentOutNumber}
            </if>
            <if test="sellNumber != null  and sellNumber != '' ">
                and b.sell_number= #{sellNumber}
            </if>
            <if test="usingFlag != null  and usingFlag != '' ">
                and b.using_flag= #{usingFlag}
            </if>
            <if test="account != null  and account != '' ">
                and b.account= #{account}
            </if>
            <if test="issueCompany != null  and issueCompany != '' ">
                and b.issue_company= #{issueCompany}
            </if>
            <if test="tokenIdentity != null  and tokenIdentity != '' ">
                and b.token_identity= #{tokenIdentity}
            </if>
            <if test="txRule != null  and txRule != '' ">
                and b.tx_rule= #{txRule}
            </if>
            <if test="assetDetails != null  and assetDetails != '' ">
                and b.asset_details= #{assetDetails}
            </if>
            <if test="companyInfo != null  and companyInfo != '' ">
                and b.company_info= #{companyInfo}
            </if>
            <if test="issueCompanyEn != null  and issueCompanyEn != '' ">
                and b.issue_company_en= #{issueCompanyEn}
            </if>
            <if test="tokenIdentityEn != null  and tokenIdentityEn != '' ">
                and b.token_identity_en= #{tokenIdentityEn}
            </if>
            <if test="txRuleEn != null  and txRuleEn != '' ">
                and b.tx_rule_en= #{txRuleEn}
            </if>
            <if test="assetDetailsEn != null  and assetDetailsEn != '' ">
                and b.asset_details_en= #{assetDetailsEn}
            </if>
            <if test="companyInfoEn != null  and companyInfoEn != '' ">
                and b.company_info_en= #{companyInfoEn}
            </if>
            <if test="assetShort != null  and assetShort != '' ">
                and b.asset_short= #{assetShort}
            </if>
            <if test="assetShortEn != null  and assetShortEn != '' ">
                and b.asset_short_en= #{assetShortEn}
            </if>
            <if test="tokenNo != null  and tokenNo != '' ">
                and b.token_no= #{tokenNo}
            </if>
            <if test="incomeStatement != null  and incomeStatement != '' ">
                and b.income_statement= #{incomeStatement}
            </if>
            <if test="incomeStatementEn != null  and incomeStatementEn != '' ">
                and b.income_statement_en= #{incomeStatementEn}
            </if>
            <if test="exchangeRate != null  and exchangeRate != '' ">
                and b.exchange_rate= #{exchangeRate}
            </if>

        </where>
        <if test="orderByInfo != null and orderByInfo.length > 0">
            <foreach collection="orderByInfo" item="order" open="order by "
                     separator="," close="  ">
                ${order}
            </foreach>
        </if>
    </select>

    <select id="getAllInfo" resultType="TzInvestItem">
        select b.id,b.token_name,b.account,b.token_no
        from tz_invest_item b
        <where>
            <if test="id != null  and id != '' ">
                and b.id= #{id}
            </if>
            <if test="tokenName != null  and tokenName != '' ">
                and b.token_name= #{tokenName}
            </if>
            <if test="account != null  and account != '' ">
                and b.account= #{account}
            </if>
            <if test="tokenNo != null  and tokenNo != '' ">
                and b.token_no= #{tokenNo}
            </if>
        </where>
        <if test="orderByInfo != null and orderByInfo.length > 0">
            <foreach collection="orderByInfo" item="order" open="order by "
                     separator="," close="  ">
                ${order}
            </foreach>
        </if>
    </select>

    <select id="getAllByPage" resultType="TzInvestItem">
        select b.id,b.token_name,b.token_short_name,b.img_path,b.expected_venue,b.issue_time,b.total_house_number,b.rent_out_number,b.sell_number,b.using_flag,b.account,b.issue_company,b.token_identity,b.tx_rule,b.asset_details,b.company_info,b.issue_company_en,b.token_identity_en,b.tx_rule_en,b.asset_details_en,b.company_info_en,b.asset_short,b.asset_short_en,b.token_no,b.income_statement,b.income_statement_en,b.exchange_rate,b.create_date,b.create_user,b.update_date,b.update_user
        from tz_invest_item b
        <where>
          <if test="id != null  and id != '' ">
              and b.id= #{id}
          </if>
          <if test="tokenName != null  and tokenName != '' ">
              and b.token_name= #{tokenName}
          </if>
          <if test="tokenShortName != null  and tokenShortName != '' ">
              and b.token_short_name= #{tokenShortName}
          </if>
          <if test="imgPath != null  and imgPath != '' ">
              and b.img_path= #{imgPath}
          </if>
          <if test="expectedVenue != null  and expectedVenue != '' ">
              and b.expected_venue= #{expectedVenue}
          </if>
          <if test="issueTime != null  and issueTime != '' ">
              and b.issue_time= #{issueTime}
          </if>
            <if test="issueTimeBegin != null ">
                <![CDATA[and b.issue_time  >= #{issueTimeBegin}]]>
            </if>
            <if test="issueTimeEnd != null ">
                <![CDATA[and b.issue_time  <= #{issueTimeEnd}]]>
            </if>
          <if test="totalHouseNumber != null  and totalHouseNumber != '' ">
              and b.total_house_number= #{totalHouseNumber}
          </if>
          <if test="rentOutNumber != null  and rentOutNumber != '' ">
              and b.rent_out_number= #{rentOutNumber}
          </if>
          <if test="sellNumber != null  and sellNumber != '' ">
              and b.sell_number= #{sellNumber}
          </if>
          <if test="usingFlag != null  and usingFlag != '' ">
              and b.using_flag= #{usingFlag}
          </if>
          <if test="account != null  and account != '' ">
              and b.account= #{account}
          </if>
          <if test="issueCompany != null  and issueCompany != '' ">
              and b.issue_company= #{issueCompany}
          </if>
          <if test="tokenIdentity != null  and tokenIdentity != '' ">
              and b.token_identity= #{tokenIdentity}
          </if>
          <if test="txRule != null  and txRule != '' ">
              and b.tx_rule= #{txRule}
          </if>
          <if test="assetDetails != null  and assetDetails != '' ">
              and b.asset_details= #{assetDetails}
          </if>
          <if test="companyInfo != null  and companyInfo != '' ">
              and b.company_info= #{companyInfo}
          </if>
          <if test="issueCompanyEn != null  and issueCompanyEn != '' ">
              and b.issue_company_en= #{issueCompanyEn}
          </if>
          <if test="tokenIdentityEn != null  and tokenIdentityEn != '' ">
              and b.token_identity_en= #{tokenIdentityEn}
          </if>
          <if test="txRuleEn != null  and txRuleEn != '' ">
              and b.tx_rule_en= #{txRuleEn}
          </if>
          <if test="assetDetailsEn != null  and assetDetailsEn != '' ">
              and b.asset_details_en= #{assetDetailsEn}
          </if>
          <if test="companyInfoEn != null  and companyInfoEn != '' ">
              and b.company_info_en= #{companyInfoEn}
          </if>
          <if test="assetShort != null  and assetShort != '' ">
              and b.asset_short= #{assetShort}
          </if>
          <if test="assetShortEn != null  and assetShortEn != '' ">
              and b.asset_short_en= #{assetShortEn}
          </if>
          <if test="tokenNo != null  and tokenNo != '' ">
              and b.token_no= #{tokenNo}
          </if>
            <if test="incomeStatement != null  and incomeStatement != '' ">
                and b.income_statement= #{incomeStatement}
            </if>
            <if test="incomeStatementEn != null  and incomeStatementEn != '' ">
                and b.income_statement_en= #{incomeStatementEn}
            </if>
            <if test="exchangeRate != null  and exchangeRate != '' ">
                and b.exchange_rate= #{exchangeRate}
            </if>
        </where>
        <if test="orderByInfo != null and orderByInfo.length > 0">
            <foreach collection="orderByInfo" item="order" open="order by "
                     separator="," close="  ">
                ${order}
            </foreach>
        </if>
    </select>

    <insert id="insert" parameterType="TzInvestItem">
        INSERT INTO tz_invest_item (id,token_name,token_short_name,img_path,expected_venue,issue_amount,allowance,issue_price,issue_time,total_house_number,rent_out_number,sell_number,using_flag,account,issue_company,token_identity,tx_rule,asset_details,company_info,issue_company_en,token_identity_en,tx_rule_en,asset_details_en,company_info_en,asset_short,asset_short_en,token_no,income_statement,income_statement_en,exchange_rate,create_date,create_user,update_date,update_user)
        VALUES (#{id},#{tokenName},#{tokenShortName},#{imgPath},#{expectedVenue},#{issueAmount},#{allowance},#{issuePrice},#{issueTime},#{totalHouseNumber},#{rentOutNumber},#{sellNumber},#{usingFlag},#{account},#{issueCompany},#{tokenIdentity},#{txRule},#{assetDetails},#{companyInfo},#{issueCompanyEn},#{tokenIdentityEn},#{txRuleEn},#{assetDetailsEn},#{companyInfoEn},#{assetShort},#{assetShortEn},#{tokenNo},#{incomeStatement},#{incomeStatementEn},#{exchangeRate},NOW(),#{createUser},NOW(),#{createUser});
    </insert>

    <update id="update" parameterType="TzInvestItem">
        update tz_invest_item
        <set>
            <if test="id != null  and id != '' ">
                id= #{id},
            </if>
            <if test="tokenName != null  and tokenName != '' ">
                token_name= #{tokenName},
            </if>
            <if test="tokenShortName != null  and tokenShortName != '' ">
                token_short_name= #{tokenShortName},
            </if>
            <if test="imgPath != null  and imgPath != '' ">
                img_path= #{imgPath},
            </if>
            <if test="expectedVenue != null  and expectedVenue != '' ">
                expected_venue= #{expectedVenue},
            </if>
            <if test="issueAmount != null  and issueAmount != '' ">
                issue_amount= #{issueAmount},
            </if>
            <if test="allowance != null  and allowance != '' ">
                allowance= #{allowance},
            </if>
            <if test="issuePrice != null  and issuePrice != '' ">
                issue_price= #{issuePrice},
            </if>
            <if test="issueTime != null  and issueTime != '' ">
                issue_time= #{issueTime},
            </if>
            <if test="totalHouseNumber != null  and totalHouseNumber != '' ">
                total_house_number= #{totalHouseNumber},
            </if>
            <if test="rentOutNumber != null  and rentOutNumber != '' ">
                rent_out_number= #{rentOutNumber},
            </if>
            <if test="sellNumber != null  and sellNumber != '' ">
                sell_number= #{sellNumber},
            </if>
            <if test="usingFlag != null  and usingFlag != '' ">
                using_flag= #{usingFlag},
            </if>
            <if test="account != null  and account != '' ">
                account= #{account},
            </if>
            <if test="issueCompany != null  and issueCompany != '' ">
                issue_company= #{issueCompany},
            </if>
            <if test="tokenIdentity != null  and tokenIdentity != '' ">
                token_identity= #{tokenIdentity},
            </if>
            <if test="txRule != null  and txRule != '' ">
                tx_rule= #{txRule},
            </if>
            <if test="assetDetails != null  and assetDetails != '' ">
                asset_details= #{assetDetails},
            </if>
            <if test="companyInfo != null  and companyInfo != '' ">
                company_info= #{companyInfo},
            </if>
            <if test="issueCompanyEn != null  and issueCompanyEn != '' ">
                issue_company_en= #{issueCompanyEn},
            </if>
            <if test="tokenIdentityEn != null  and tokenIdentityEn != '' ">
                token_identity_en= #{tokenIdentityEn},
            </if>
            <if test="txRuleEn != null  and txRuleEn != '' ">
                tx_rule_en= #{txRuleEn},
            </if>
            <if test="assetDetailsEn != null  and assetDetailsEn != '' ">
                asset_details_en= #{assetDetailsEn},
            </if>
            <if test="companyInfoEn != null  and companyInfoEn != '' ">
                company_info_en= #{companyInfoEn},
            </if>
            <if test="assetShort != null  and assetShort != '' ">
                asset_short= #{assetShort},
            </if>
            <if test="assetShortEn != null  and assetShortEn != '' ">
                asset_short_en= #{assetShortEn},
            </if>
            <if test="tokenNo != null  and tokenNo != '' ">
                token_no= #{tokenNo},
            </if>
            <if test="incomeStatement != null  and incomeStatement != '' ">
                income_statement= #{incomeStatement},
            </if>
            <if test="incomeStatementEn != null  and incomeStatementEn != '' ">
                income_statement_en= #{incomeStatementEn},
            </if>
            <if test="exchangeRate != null  and exchangeRate != '' ">
                exchange_rate= #{exchangeRate},
            </if>
            <if test="updateUser != null and updateUser != ''">
                update_user=#{updateUser},
            </if>
            update_date=NOW()
        </set>
        where id=#{id}
    </update>

    <delete id="delete" parameterType="java.lang.String">
        delete from tz_invest_item where id=#{id}
    </delete>

</mapper>
