<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seal.ljk.dao.TzRevenueDao">

    <select id="get" resultType="TzRevenue">
        select b.id,b.item_id,b.total_revenue,b.revenue_type,b.revenue_date,b.status,b.create_time,b.update_time,b.create_user,b.update_user
        from tz_revenue b
        where b.id =#{id}
    </select>

    <select id="getAll" resultType="TzRevenue">
        select b.id,b.item_id,b.total_revenue,b.revenue_type,b.revenue_date,b.status,b.create_time,b.update_time,b.create_user,b.update_user
        from tz_revenue b
        <where>
            <if test="id != null  and id != '' ">
                and b.id= #{id}
            </if>
            <if test="itemId != null  and itemId != '' ">
                and b.item_id= #{itemId}
            </if>
            <if test="totalRevenue != null  and totalRevenue != '' ">
                and b.total_revenue= #{totalRevenue}
            </if>
            <if test="revenueType != null  and revenueType != '' ">
                and b.revenue_type= #{revenueType}
            </if>
            <if test="revenueDate != null  and revenueDate != '' ">
                and b.revenue_date= #{revenueDate}
            </if>
            <if test="revenueDateBegin != null ">
                <![CDATA[and b.revenue_date  >= #{revenueDateBegin}]]>
            </if>
            <if test="revenueDateEnd != null  ">
                <![CDATA[and b.revenue_date  <= #{revenueDateEnd}]]>
            </if>
            <if test="status != null  and status != '' ">
                and b.status= #{status}
            </if>
            <if test="createTime != null  and createTime != '' ">
                and b.create_time= #{createTime}
            </if>
            <if test="createTimeBegin != null ">
                <![CDATA[and b.create_time  >= #{createTimeBegin}]]>
            </if>
            <if test="createTimeEnd != null  ">
                <![CDATA[and b.create_time  <= #{createTimeEnd}]]>
            </if>
            <if test="updateTime != null  and updateTime != '' ">
                and b.update_time= #{updateTime}
            </if>
            <if test="updateTimeBegin != null ">
                <![CDATA[and b.update_time  >= #{updateTimeBegin}]]>
            </if>
            <if test="updateTimeEnd != null  ">
                <![CDATA[and b.update_time  <= #{updateTimeEnd}]]>
            </if>
        </where>
        <if test="orderByInfo != null and orderByInfo.length > 0">
            <foreach collection="orderByInfo" item="order" open="order by "
                     separator="," close="  ">
                ${order}
            </foreach>
        </if>
    </select>

    <select id="getAllByPage" resultType="TzRevenue">
        select b.id,b.item_id,b.total_revenue,b.revenue_type,b.revenue_date,b.status,b.create_time,b.update_time,b.create_user,b.update_user
        from tz_revenue b
        <where>
          <if test="id != null  and id != '' ">
              and b.id= #{id}
          </if>
          <if test="itemId != null  and itemId != '' ">
              and b.item_id= #{itemId}
          </if>
          <if test="totalRevenue != null  and totalRevenue != '' ">
              and b.total_revenue= #{totalRevenue}
          </if>
          <if test="revenueType != null  and revenueType != '' ">
              and b.revenue_type= #{revenueType}
          </if>
          <if test="revenueDate != null  and revenueDate != '' ">
              and b.revenue_date= #{revenueDate}
          </if>
            <if test="revenueDateBegin != null ">
                <![CDATA[and b.revenue_date  >= #{revenueDateBegin}]]>
            </if>
            <if test="revenueDateEnd != null ">
                <![CDATA[and b.revenue_date  <= #{revenueDateEnd}]]>
            </if>
          <if test="status != null  and status != '' ">
              and b.status= #{status}
          </if>
          <if test="createTime != null  and createTime != '' ">
              and b.create_time= #{createTime}
          </if>
            <if test="createTimeBegin != null ">
                <![CDATA[and b.create_time  >= #{createTimeBegin}]]>
            </if>
            <if test="createTimeEnd != null ">
                <![CDATA[and b.create_time  <= #{createTimeEnd}]]>
            </if>
          <if test="updateTime != null  and updateTime != '' ">
              and b.update_time= #{updateTime}
          </if>
            <if test="updateTimeBegin != null ">
                <![CDATA[and b.update_time  >= #{updateTimeBegin}]]>
            </if>
            <if test="updateTimeEnd != null ">
                <![CDATA[and b.update_time  <= #{updateTimeEnd}]]>
            </if>
        </where>
        <if test="orderByInfo != null and orderByInfo.length > 0">
            <foreach collection="orderByInfo" item="order" open="order by "
                     separator="," close="  ">
                ${order}
            </foreach>
        </if>
    </select>

    <insert id="insert" parameterType="TzRevenue">
        INSERT INTO tz_revenue (id,item_id,total_revenue,revenue_type,revenue_date,status,create_time,update_time,create_user,update_user)
        VALUES (#{id},#{itemId},#{totalRevenue},#{revenueType},#{revenueDate},#{status},#{createTime},#{updateTime},#{createUser},#{createUser});
    </insert>

    <update id="update" parameterType="TzRevenue">
        update tz_revenue
        <set>
            <if test="id != null  and id != '' ">
                id= #{id},
            </if>
            <if test="itemId != null  and itemId != '' ">
                item_id= #{itemId},
            </if>
            <if test="totalRevenue != null  and totalRevenue != '' ">
                total_revenue= #{totalRevenue},
            </if>
            <if test="revenueType != null  and revenueType != '' ">
                revenue_type= #{revenueType},
            </if>
            <if test="revenueDate != null  and revenueDate != '' ">
                revenue_date= #{revenueDate},
            </if>
            <if test="status != null  and status != '' ">
                status= #{status},
            </if>
            <if test="createTime != null  and createTime != '' ">
                create_time= #{createTime},
            </if>
            <if test="updateTime != null  and updateTime != '' ">
                update_time= #{updateTime},
            </if>
            <if test="updateUser != null and updateUser != ''">
                update_user=#{updateUser},
            </if>
            update_date=NOW()
        </set>
        where id=#{id}
    </update>

    <delete id="delete" parameterType="java.lang.String">
        delete from tz_revenue where id=#{id}
    </delete>

</mapper>
